#!/usr/bin/make -f

export DEB_HOST_GNU_TYPE  ?= $(shell dpkg-architecture -qDEB_HOST_GNU_TYPE)
export DEB_BUILD_GNU_TYPE ?= $(shell dpkg-architecture -qDEB_BUILD_GNU_TYPE)

confflags += --disable-debug

configure: configure-stamp

configure-stamp:
	./autogen.sh
	dh_testdir
	./configure $(confflags) --host=$(DEB_HOST_GNU_TYPE) --build=$(DEB_BUILD_GNU_TYPE) --prefix=/usr
	touch configure-stamp

build: configure-stamp build-stamp
build-stamp:
	dh_testdir
	$(MAKE)
	touch build-stamp

clean:
	dh_testdir
	dh_testroot
	rm -f build-stamp configure-stamp
	-$(MAKE) distclean
	dh_clean

install: build
	dh_testdir
	dh_testroot
	dh_clean -k
	dh_installdirs -plibqqoob-dev
	dh_installdirs usr/lib etc/modprobe.d etc/udev/rules.d -plibqoob0
	$(MAKE) install DESTDIR=`pwd`/debian/libqoob0
	$(MAKE) deb-install
	dh_install --sourcedir=debian/libqoob0 --list-missing

binary-indep: build install

binary-arch: build install
	dh_testdir
	dh_testroot
	dh_installdocs -A README TODO AUTHORS NEWS
	dh_installchangelogs ChangeLog
	dh_link
	dh_strip
	dh_compress
	dh_fixperms
	dh_makeshlibs -p libqoob0 -V 'libqoob0 (>=0.11)'
	dh_installdeb
	dh_shlibdeps -l libqoob0 -Ldebian/libqoob0/usr/lib
	dh_gencontrol -- -Tdebian/libqoob0.substvars
	dh_md5sums
	dh_builddeb

binary: binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch binary install configure
